fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
openpyxl
numpy
plotly
google-genai
langchain
langchain-google-genai
langchain-community
langchain-pinecone
pinecone
bm25s
ipython
pymupdf
Pillow
supabase
python-multipart
msal
python-docx
rapidfuzz