fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
SQLAlchemy
openpyxl
pandas
numpy
matplotlib
plotly
google-genai
langchain
langchain-google-genai
langchain-community
langchain-pinecone
pinecone
langchain-docling
bm25s
ipython
pymupdf
Pillow