fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
openpyxl
numpy
plotly
google-genai
langchain
langchain-google-genai
langchain-community
bm25s
ipython
pymupdf
Pillow
python-multipart
msal
python-docx
rapidfuzz
pgvector
