# numpy==2.4.2
pandas==2.3.3
matplotlib==3.10.8
psycopg2-binary==2.9.11
SQLAlchemy==2.0.47
openpyxl==3.1.5
plotly==6.5.2
python-dotenv==1.2.2
pydantic==2.12.5
pydantic==2.12.5
google-genai==1.68.0
langchain==1.2.13
python-dotenv==1.2.2
langgraph>=1.1.3
psycopg2-binary==2.9.11
psycopg[binary]
fastapi==0.115.6
uvicorn==0.42.0
langchain-google-genai==4.2.1
langchain-groq==1.1.2
langchain-community==0.4.1
ipython==9.12.0
langgraph-checkpoint-postgres==3.0.5
bm25s==0.3.3
langchain-openai==1.1.2
openpyxl
pandas
langchain-pinecone
pinecone
langchain-docling
pymupdf
Pillow